<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="shortcut icon" href="#">
    <link th:href="@{/css/bootstrap/bootstrap-social.css}"  rel="stylesheet" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</head>


<nav th:fragment="mainNav" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="/images/vincamoLogoSm.png" width="30" height="30">
    </a>

    <!--햄버거 버튼 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!--로그인 -->
        <div class="" style="justify-content: flex-end">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/account}">가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/notifications}">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link btn btn-outline-primary" th:href="@{/notifications}">
                        <i class="fa fa-plus" aria-hidden="true"></i>게시글 글 쓰기</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg data-jdenticon-value="user127" th:data-jdenticon-value="${#authentication.name}"
                             width="24" height="24" class="rounded border bg-light">
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">
                            <span sec:authentication="name">Username</span>
                        </h6>
                        <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
                        <a class="dropdown-item">게시글</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>


<script type="application/javascript" th:fragment="accountJS">
    (function () {
        'use strict';

        window.addEventListener('load', () => {
            const forms = document.getElementsByClassName('signUp-Validation');

            for (const form of forms) {
                form.addEventListener('submit', (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            }
        }, false);
    }());

    document.addEventListener('DOMContentLoaded', function () {
        const signUpForm = document.querySelector('.signUp-Validation');

        signUpForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(signUpForm);
            const searchParams = new URLSearchParams();

            for (const pair of formData) {
                searchParams.append(pair[0], pair[1]);
            }

            fetch(signUpForm.action, {
                method: 'POST',
                body: searchParams,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRF-TOKEN': formData.get('_csrf')  // Ensure CSRF token is sent
                }
            })
                .then(response => response.json())
                .then(data => {

                    if (data.code === 0 && data.data) {
                        Object.keys(data.data).forEach(function (key) {
                            const inputElement = document.getElementById(key);
                            const errorElement = document.getElementById(key + 'Error');
                            if (inputElement && errorElement) {
                                errorElement.textContent = data.data[key];
                                errorElement.style.display = 'block';
                                inputElement.classList.add('is-invalid');
                            }
                        });
                    } else {
                        window.location.href = '/';  // Redirect on success
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });


</script>


<!-- TODO 로컬 테스트할 때 주소로 직접 입력해서 들어오는 부분인데 생각 좀 해보기. -->
<script th:fragment="emailTokenJS">
    $(document).ready(function() {

        // 이메일 토큰 검증
        function verifyEmailToken(token, email) {
            var data = JSON.stringify({ token: token, email: email });

            $.ajax({
                url: '/api/account/email-verification',
                type: 'POST',
                contentType: 'application/json',
                data: data,
                success: function(response) {
                    if (response.code === 1) {
                        // 성공 시 사용자를 특정 페이지로 리디렉션
                        window.location.href = '/account/checked-email'; // 성공 시 이동할 URL
                    } else {
                        $('#successAlert').hide();
                        $('#errorAlert').text(response.message).show();
                    }
                },
                error: function(xhr) {
                    $('#successAlert').hide();
                    $('#errorAlert').text(xhr.responseJSON.message).show();
                }
            });
        }

        var urlParams = new URLSearchParams(window.location.search);
        var token = urlParams.get('token');
        var email = urlParams.get('email');

        // 토큰과 이메일 파라미터가 모두 존재할 경우에만 함수 실행
        if (token && email) {
            verifyEmailToken(token, email);
        }
    });
</script>

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/settings/password}">패스워드</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active" href="#" th:href="@{/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active" href="#" th:href="@{/settings/tags}">관심 카메라</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active" href="#" th:href="@{/settings/zones}">활동 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/settings/account}">계정</a>
</div>


<script th:fragment="profileJS">
    $(document).ready(function() {
        $('#profileForm').submit(function(event) {
            event.preventDefault(); // 폼 기본 제출을 방지

            // 폼 데이터를 JSON 객체로 변환
            var formData = {
                "bio": $("#bio").val(),
                "url": $("#url").val(),
                "occupation": $("#occupation").val(),
                "location": $("#location").val(),
                "profileImageUrl": $("#profileImageUrl").val()
            };

            $.ajax({
                url: '/api/settings/profile',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function() {
                    if (response.code === 1) {
                        alert('프로필 업데이트에 성공했습니다.');
                        $("#bio").text(response.data.bio);
                        $("#url").text(response.data.url);
                        $("#occupation").text(response.data.occupation);
                        $("#location").text(response.data.location);
                        $("#profileImageUrl").attr("src", response.data.profileImageUrl);
                    } else {
                        alert('프로필 업데이트에 실패했습니다. 오류: ' + response.message);
                    }
                },
                error: function(response) {
                    alert('서버 오류로 프로필 업데이트에 실패했습니다.' + response.message);
                }
            });
        });
    });
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>